html
    head
        meta(charset="UTF-8")
        title Login
        script(src="/js/jquery.min.js")
    body
        h1 hello #{user.firstname}
        button(id='logout') logout
        script(src='/js/logout.js')